<div class="navbar glass">
  <div class="logoText">
    <img class="logoPic" src="/assets/images/marryMateLogo.png">
    MarryMate
  </div>

  <div class="nav-links">
    <a href="#">About Us</a>
    <a href="#">Features</a>
    <a href="#">Vendors</a>
    <a href="#">Contact</a>
  </div>

  <!-- NEW -->
  <div class="auth-buttons">
    <button onclick="location.href='../pages/login.html'" class="btn">Login</button>
    <button onclick="location.href='../pages/register.html'" class="btn">Register</button>
  </div>
</div>